IA/Sistemas_Aprendizaje_Automatico/3-Trimestre/Redes_Neuronales/Clasificacion_Imagen/Ejercicio/assets/
IA/Programacion_IA/3_Trimestre/Tokenización/Comida_Peruana/reviews.csv
IA/Sistemas_Aprendizaje_Automatico/3-Trimestre/Redes_Neuronales/Clasificacion_Sonido/Audio_Mnist/data/*
